.quick_top_banner {
  background: url(/assets/images/top_slider/desktop_banner3.jpg) no-repeat;
  height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
  filter: drop-shadow(0 0 5px black);
  -webkit-filter: drop-shadow(0 0 5px black);
}

.quick_top_banner_title {
  position: absolute;
  bottom: 0;
  /* margin: auto; */
  text-align: center;
  width: 100%;
}
.quick_top_banner_title span {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
}

.quick_relation_description {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
