.other_article_items {
  background: rgba(128, 128, 128, 0.24);
  border-radius: 2px;
}

.article_container {
  width: 90%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

.article_main_text {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 1rem !important;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(8px);
}

.article_container .back_avatar_image {
  position: absolute;
  margin: auto;
  width: 6.6rem;
  height: 6.6rem;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
}
.article_container .avatar_image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}
.article_container .top_image {
  width: 50vw;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.5rem;
  background: white;
  display: flex;
  box-shadow: 0 0 5px purple;
}
.article_container .article_info {
  position: absolute;
  bottom: 1px;
  width: calc(100% - 1rem);
}

.image_in_text img {
  width: 40vw;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .article_container .top_image {
    width: 90vw;
  }
  .image_in_text img {
    width: 80vw;
  }
}

.custom-shape-divider-bottom-1621611230 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1621611230 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}

.custom-shape-divider-bottom-1621611230 .shape-fill {
  fill: #ffffff;
}
